NODE_ENV=production
TZ=America/Sao_Paulo
DATABASE_URL=
DATABASE_URL_ANTIGA=
DATABASE_URL_NOVA=
SECRET=
EMAIL_USER=
EMAIL_PASSWORD=
RUN_BACKFILL=false
BACKFILL_DAYS=3
SCHEMA_PADRAO=nextcar
GARAJE_URL=https://www.garaje.com.br/parceiros/sites/50/2f8c26256e08d580f699ccf0979f56d3
CREDIT_BANK_TIMEOUT_MS=15000
CREDIT_BANK_PAN_URL=
CREDIT_BANK_PAN_TOKEN=
CREDIT_BANK_PAN_API_KEY=
CREDIT_BANK_PAN_CLIENT_ID=
CREDIT_BANK_PAN_CLIENT_SECRET=
CREDIT_BANK_PAN_HEADERS={}
CREDIT_BANK_BRADESCO_URL=
CREDIT_BANK_BRADESCO_TOKEN=
CREDIT_BANK_BRADESCO_API_KEY=
CREDIT_BANK_BRADESCO_CLIENT_ID=
CREDIT_BANK_BRADESCO_CLIENT_SECRET=
CREDIT_BANK_BRADESCO_HEADERS={}
CREDIT_BANK_ITAU_URL=
CREDIT_BANK_ITAU_TOKEN=
CREDIT_BANK_ITAU_API_KEY=
CREDIT_BANK_ITAU_CLIENT_ID=
CREDIT_BANK_ITAU_CLIENT_SECRET=
CREDIT_BANK_ITAU_HEADERS={}
CREDIT_BANK_BV_URL=
CREDIT_BANK_BV_TOKEN=
CREDIT_BANK_BV_API_KEY=
CREDIT_BANK_BV_CLIENT_ID=
CREDIT_BANK_BV_CLIENT_SECRET=
CREDIT_BANK_BV_HEADERS={}
CREDIT_BANK_SANTANDER_URL=
CREDIT_BANK_SANTANDER_TOKEN=
CREDIT_BANK_SANTANDER_API_KEY=
CREDIT_BANK_SANTANDER_CLIENT_ID=
CREDIT_BANK_SANTANDER_CLIENT_SECRET=
CREDIT_BANK_SANTANDER_HEADERS={}
CREDIT_BANK_OMINI_URL=
CREDIT_BANK_OMINI_TOKEN=
CREDIT_BANK_OMINI_API_KEY=
CREDIT_BANK_OMINI_CLIENT_ID=
CREDIT_BANK_OMINI_CLIENT_SECRET=
CREDIT_BANK_OMINI_HEADERS={}
CREDIT_BANK_CARBANK_URL=
CREDIT_BANK_CARBANK_TOKEN=
CREDIT_BANK_CARBANK_API_KEY=
CREDIT_BANK_CARBANK_CLIENT_ID=
CREDIT_BANK_CARBANK_CLIENT_SECRET=
CREDIT_BANK_CARBANK_HEADERS={}
WA_PHONE_NUMBER_ID=
WA_ACCESS_TOKEN=
WA_WEBHOOK_VERIFY_TOKEN=
WA_SELLER_PHONE=
WA_LEAD_TEMPLATE_NAME=
WA_LEAD_TEMPLATE_LANGUAGE=pt_BR
WA_LEAD_TEMPLATE_MODE=structured
PUSH_VAPID_SUBJECT=
PUSH_VAPID_PUBLIC_KEY=
PUSH_VAPID_PRIVATE_KEY=
PUSH_APP_URL=
PUSH_NOTIFICATION_ICON_URL=
PUSH_NOTIFICATION_BADGE_URL=
PUSH_DEFAULT_OPEN_URL=
PUSH_LEADS_ROOM_OPEN_URL=
PUSH_AGENDA_CRON=*/5 * * * *
JWT_EXPIRES_IN=7d
AUTH_SESSION_EXPIRY_WARNING_HOURS=24
AUTH_SESSION_NOTIFICATION_CRON=*/15 * * * *
LEAD_REMINDER_INTERVAL_SEC=120
LEAD_REMINDER_MAX=5
LEAD_FEEDBACK_DELAY_SEC=3600
LEAD_ATTENDANCE_ESTIMATE_SEC=1800
FOTO_TEMPLATE_SIZE=1254
FOTO_TEMPLATE_MAX_FILES=12
FOTO_TEMPLATE_CONCURRENCY=2
FOTO_TEMPLATE_PATH=assets/template_sem_bg.png
FOTO_TEMPLATE_VALOR_X=105
FOTO_TEMPLATE_ANO_X=360
FOTO_TEMPLATE_KM_X=605
FOTO_TEMPLATE_FOOTER_TEXT_Y=1236
FOTO_TEMPLATE_FOOTER_FONT=32
WA_GRAPH_VERSION=v25.0
META_GRAPH_VERSION=v25.0
META_WEBHOOK_VERIFY_TOKEN=
META_APP_SECRET=
META_PAGE_ACCESS_TOKEN=
META_LEAD_ADS_ACCESS_TOKEN=
META_LEAD_ADS_SCHEMA=nextcar
META_LEAD_ADS_PAGE_SCHEMA_MAP={}
META_LEAD_ADS_FORM_SCHEMA_MAP={}
META_LEAD_ADS_PAGE_TOKEN_MAP={}
META_LEAD_ADS_FORM_TOKEN_MAP={}
META_LEAD_ADS_FIELDS=id,created_time,field_data,ad_id,ad_name,adset_name,campaign_id,campaign_name,form_id,is_organic,platform
META_LEAD_ADS_TIMEOUT_MS=15000
META_LEAD_ADS_DEFAULT_PRIORITY=media
META_SKIP_SIGNATURE_VALIDATION=false
FACEBOOK_PATROCINIO_SHEET_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQfkm6ekG6Vq6xSbchTONHWB9eHTIsS0TJzGUyC4gb_eNEYtWHcUD6iCrEvbMEGqB38ckwAu0JOWdoa/pubhtml
FACEBOOK_PATROCINIO_SCHEMA=nextcar
FACEBOOK_PATROCINIO_SYNC_SECRET=
FACEBOOK_PATROCINIO_AUTO_SYNC=true
FACEBOOK_PATROCINIO_SYNC_INTERVAL_SEC=120
FACEBOOK_PATROCINIO_DEFAULT_PRIORITY=media
FACEBOOK_PATROCINIO_TIMEOUT_MS=20000
DB_POOL_MAX=10
DB_IDLE_TIMEOUT_MS=30000
DB_CONNECTION_TIMEOUT_MS=15000
DB_STATEMENT_TIMEOUT_MS=30000
DB_QUERY_TIMEOUT_MS=30000
KOYEB_API_TOKEN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
APP_ENCRYPTION_KEY=
